#caption{
    
    background-image: url(img/bg.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;  
}
#filter{
    width: 100%;
    height: 100;
    background-color: rgba(55, 55, 55, 0.8);
}
#dots{
    background-image: url(img/bg_dot.png);
    background-size:cover;
    padding-bottom: 3%;
    text-align: center;
    vertical-align: middle;
}
#caption_text{
    width: 100%;
    color: #ffffff;
    font-size: 2.2vmax;
    text-align: center;
}
#caption_img{
    width: 6vmax;
    display: inline-block;
}
#caption_img img{
  width: 100%;
}