#sections{
    background-color:#141414;
}
#caption{
    width: 100vw;
    background-image: url(img/bg.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat; 
}
#filter{    
    background-color: rgba(55, 55, 55, 0.8);
}
#dots{
    width: 101%;
    background-image: url(img/bg_dot.png);
    background-size:cover;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 1% !important;
    text-align: center !important;
    vertical-align: middle;
    padding-left: 5px;
    padding-bottom: 50px !important;
}
.hiddenblok{
    display: none;
}
@media screen and (max-width: 618px){
   
    #dots{
        width: 101%;
        background-image: url(img/bg_dot.png);
        background-size:cover;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 1% !important;
        text-align: center !important;
        vertical-align: middle;
        position: relative;
        left: 10px;
        padding-bottom: 25px !important;
    }
}
#hide_blok{
    width: 40px;
    height: 40px;
    background-image: url(img/narrow_down_black.svg);
    background-color: white;
    position: relative;
    bottom: 20px;
    position: relative;
    bottom: 25;
    left: calc(50% - 18px);
    
}
#hide_blok :hover{
    width: 40px;
    height: 40px;
    background-image: url(img/narrow_up_black.svg);
    margin-left: 48%;
    background-color: black;
    position: relative;
    bottom: 20px;
}